.head{
  font-family: "Gotham SSm A", "Gotham SSm B";
  letter-spacing: 1.5px;
  font-style: normal;
  font-size: 34px;
  font-weight: 700;
  margin: 12px 15px;
  color: #C2C2C2;
}

hr {
  margin: 0px 15px;

}

svg {
  transition: height 420ms ease 5ms;
}
