.head{
  font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
  letter-spacing: 1px;
  font-style: normal;
  font-size: 26px;
  font-weight: 600;
  margin: 12px 15px;
  color: #999;
}

hr {
  margin: 0px 15px;
  
}

svg {
  transition: height 420ms ease 5ms;
}
