.head{
  font-family: "Gotham SSm A", "Gotham SSm B";
  letter-spacing: 1px;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  margin: 12px 15px;
  color: #ADADAD;
}

hr {
  margin: 0px 15px;

}

svg {
  transition: height 420ms ease 5ms;
}
