.plot-text {
  text-transform: capitalize;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
}

.weight-1 {
  font-weight: 600;
}

.weight-2 {
  font-weight: 500;
}

.weight-3 {
  font-family: "Decimal A", "Decimal B";
  font-style: normal;
  font-weight: 400;
}

.vessel {}

.plot-animation-move {
  transition: transform 420ms ease 5ms;
}

.plot-animation-fill {
  transition: fill 420ms ease 5ms;
}
