.plot-text {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}

.vessel{
}

.plot-animation-move {
  transition: transform 420ms ease 5ms;
}

.plot-animation-fill {
  transition: fill 420ms ease 5ms;
}
